* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 100px;
  margin-right: 100px;
}
label {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 5px;
}

.encabezado {
  margin-top: 50px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.titulo {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
h4 {
  background: #000;
  color: #ffff;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
input[type="radio"] {
  width: 18px;
  height: 18px;
}
.contenedor {
  width: 100%;
  margin-top: 20px;
  background: #eefcff;
  border: 2px solid #000;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}
.form_datos_personales {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
}
.campo {
  display: flex;
  padding: 5px;
  flex-direction: column;
  border: 0.5px solid #000;
}
.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
input {
  border: none;
  outline: none;
  height: 25px;
  background: #eefcff;
  font-size: 15px;
  text-transform: uppercase;
}
input[type="text"] {
  padding: 5px;
  background: #eefcff;
}

.line-input {
  border-bottom: 1px solid black;
}

.inline {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

table {
  border: #000 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
  justify-self: center;
}
table,
tr,
th,
td {
  border: #000 1px solid;
  border-collapse: collapse;
  padding: 5px;
}
th {
  font-weight: normal;
  font-style: italic;
  background: #d6f2f8;
}
.form_modalidad_academica {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.form_experiencia_laboral {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
}
.empleo-contrato {
  font-style: italic;
  background: #d6f2f8;
  padding: 5px;
  text-align: center;
  border: #000 1px solid;
}
.firma {
  justify-self: center;
  text-align: center;
}
canvas {
  border: 1px solid #000;
  width: 400px;
  height: 100px;
}
